<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>gWindowShadowActiveRadius</key>
    <integer>7</integer>
    <key>gWindowShadowInactiveRadius</key>
    <integer>10</integer>
    <key>gHideWindowRim</key>
    <false/>
    <key>gPatchAppearance</key>
    <false/>
	<key>gColors</key>
	<dict>
		<key>AbsoluteLightBezelImage_Active_DeeplyPressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelImage_Active_DeeplyPressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelImage_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelImage_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelImage_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelImage_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelImage_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelImage_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelImage_Active_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelImage_Active_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelImage_Inactive_DeeplyPressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelImage_Inactive_DeeplyPressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelImage_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelImage_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelImage_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelImage_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelImage_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelImage_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelImage_Inactive_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelImage_Inactive_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Active_DeeplyPressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Active_DeeplyPressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Active_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Active_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Inactive_DeeplyPressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Inactive_DeeplyPressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Inactive_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>AbsoluteLightBezelText_Inactive_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BezelTintImage_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BezelTintImage_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BezelTintImage_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BezelTintImage_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BezelTintImage_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BezelTintImage_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BezelTintImage_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BezelTintImage_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BezelTintImage_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BezelTintImage_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BezelTintImage_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BezelTintImage_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Active_DeeplyPressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Active_DeeplyPressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Active_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Active_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Inactive_DeeplyPressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Inactive_DeeplyPressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Inactive_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessImage_Inactive_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Active_DeeplyPressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Active_DeeplyPressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Active_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Active_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Inactive_DeeplyPressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Inactive_DeeplyPressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Inactive_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>BorderlessText_Inactive_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>CUIWindowRimColor</key>
		<string>#FFFFFF59</string>
		<key>CUIWindowRimColor2x</key>
		<string>#FFFFFF99</string>
		<key>DarkImage_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkImage_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkImage_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkImage_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkImage_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkImage_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkImage_Active_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkImage_Active_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkImage_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkImage_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkImage_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkImage_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkImage_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkImage_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkImage_Inactive_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkImage_Inactive_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkText_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkText_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkText_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkText_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkText_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkText_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkText_Active_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkText_Active_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkText_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkText_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkText_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkText_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkText_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkText_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkText_Inactive_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DarkText_Inactive_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DefaultBezelTintImage_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DefaultBezelTintImage_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DefaultBezelTintImage_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DefaultBezelTintImage_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DefaultBezelTintImage_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DefaultBezelTintImage_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DefaultBezelTintImage_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DefaultBezelTintImage_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DefaultBezelTintImage_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DefaultBezelTintImage_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DefaultBezelTintImage_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DefaultBezelTintImage_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DetailAccent_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionImage_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionImage_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionImage_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionImage_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionImage_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionImage_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionImage_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionImage_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionImage_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionImage_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionImage_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionImage_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionText_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionText_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionText_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionText_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionText_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionText_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionText_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionText_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionText_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionText_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionText_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>DiscreteSelectionText_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Active_Disabled_Mixed_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Active_Normal_Mixed_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Active_Pressed_Mixed_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Active_Rollover_Mixed_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Active_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Active_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Inactive_Disabled_Mixed_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Inactive_Normal_Mixed_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Inactive_Pressed_Mixed_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Inactive_Rollover_Mixed_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Inactive_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedImage_Inactive_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Active_Disabled_Mixed_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Active_Normal_Mixed_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Active_Pressed_Mixed_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Active_Rollover_Mixed_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Active_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Active_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Inactive_Disabled_Mixed_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Inactive_Normal_Mixed_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Inactive_Pressed_Mixed_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Inactive_Rollover_Mixed_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Inactive_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>EngravedText_Inactive_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>FocusRingImage_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightImage_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightImage_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightImage_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightImage_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightImage_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightImage_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightImage_Active_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightImage_Active_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightImage_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightImage_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightImage_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightImage_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightImage_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightImage_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightImage_Inactive_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightImage_Inactive_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightText_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightText_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightText_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightText_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightText_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightText_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightText_Active_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightText_Active_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightText_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightText_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightText_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightText_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightText_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightText_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightText_Inactive_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LightText_Inactive_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredImage_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredImage_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredImage_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredImage_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredImage_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredImage_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredImage_Active_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredImage_Active_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredImage_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredImage_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredImage_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredImage_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredImage_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredImage_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredImage_Inactive_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredImage_Inactive_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredText_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredText_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredText_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredText_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredText_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredText_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredText_Active_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredText_Active_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredText_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredText_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredText_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredText_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredText_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredText_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredText_Inactive_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>LoweredText_Inactive_Rollover_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarImage_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarImage_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarImage_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarImage_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarImage_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarImage_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarImage_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarImage_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarImage_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarImage_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarImage_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarImage_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarText_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarText_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarText_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarText_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarText_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarText_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarText_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarText_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarText_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarText_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarText_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>MenubarText_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>On-OffBezelTintImage_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>On-OffBezelTintImage_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>On-OffBezelTintImage_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>On-OffBezelTintImage_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>On-OffBezelTintImage_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>On-OffBezelTintImage_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>On-OffBezelTintImage_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>On-OffBezelTintImage_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>On-OffBezelTintImage_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>On-OffBezelTintImage_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>On-OffBezelTintImage_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>On-OffBezelTintImage_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>RowSelectionImage_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SelectionImage_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SelectionImage_Active_Normal_Off_Base1</key>
		<string>#FFFFFFFF</string>
		<key>SelectionImage_Active_Normal_Off_Base2</key>
		<string>#FFFFFFFF</string>
		<key>SelectionImage_Active_Normal_Off_Base3</key>
		<string>#FFFFFFFF</string>
		<key>SelectionImage_Active_Normal_Off_Base4</key>
		<string>#FFFFFFFF</string>
		<key>SelectionImage_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SelectionImage_Inactive_Normal_Off_Base1</key>
		<string>#FFFFFFFF</string>
		<key>SelectionImage_Inactive_Normal_Off_Base2</key>
		<string>#FFFFFFFF</string>
		<key>SelectionImage_Inactive_Normal_Off_Base3</key>
		<string>#FFFFFFFF</string>
		<key>SelectionImage_Inactive_Normal_Off_Base4</key>
		<string>#FFFFFFFF</string>
		<key>SelectionText_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SelectionText_Active_Normal_Off_Base1</key>
		<string>#FFFFFFFF</string>
		<key>SelectionText_Active_Normal_Off_Base2</key>
		<string>#FFFFFFFF</string>
		<key>SelectionText_Active_Normal_Off_Base3</key>
		<string>#FFFFFFFF</string>
		<key>SelectionText_Active_Normal_Off_Base4</key>
		<string>#FFFFFFFF</string>
		<key>SelectionText_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SelectionText_Inactive_Normal_Off_Base1</key>
		<string>#FFFFFFFF</string>
		<key>SelectionText_Inactive_Normal_Off_Base2</key>
		<string>#FFFFFFFF</string>
		<key>SelectionText_Inactive_Normal_Off_Base3</key>
		<string>#FFFFFFFF</string>
		<key>SelectionText_Inactive_Normal_Off_Base4</key>
		<string>#FFFFFFFF</string>
		<key>SidebarImage_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarImage_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarImage_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarImage_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarImage_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarImage_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarImage_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarImage_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarImage_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarImage_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarImage_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarImage_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarText_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarText_Active_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarText_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarText_Active_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarText_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarText_Active_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarText_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarText_Inactive_Disabled_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarText_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarText_Inactive_Normal_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarText_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>SidebarText_Inactive_Pressed_On_Base0</key>
		<string>#FFFFFFFF</string>
		<key>StateTransformImage_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>StateTransformImage_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>StateTransformImage_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>StateTransformText_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>StateTransformText_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>StateTransformText_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>StatefulColorsSystemEffect_Active_DeeplyPressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>StatefulColorsSystemEffect_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>StatefulColorsSystemEffect_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>StatefulColorsSystemEffect_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>StatefulColorsSystemEffect_Active_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>TextHighlightImage_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>TitlebarRaisedImage_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>TitlebarRaisedImage_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>TitlebarRaisedImage_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>TitlebarRaisedImage_Active_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>TitlebarRaisedImage_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>TitlebarRaisedImage_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>TitlebarRaisedImage_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>TitlebarRaisedImage_Inactive_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>TitlebarRaisedText_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>TitlebarRaisedText_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>TitlebarRaisedText_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>TitlebarRaisedText_Active_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>TitlebarRaisedText_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>TitlebarRaisedText_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>TitlebarRaisedText_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>TitlebarRaisedText_Inactive_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformImage_Active_DeeplyPressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformImage_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformImage_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformImage_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformImage_Active_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformImage_Inactive_DeeplyPressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformImage_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformImage_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformImage_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformImage_Inactive_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformText_Active_DeeplyPressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformText_Active_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformText_Active_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformText_Active_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformText_Active_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformText_Inactive_DeeplyPressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformText_Inactive_Disabled_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformText_Inactive_Normal_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformText_Inactive_Pressed_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>ToolbarStateTransformText_Inactive_Rollover_Off_Base0</key>
		<string>#FFFFFFFF</string>
		<key>alternateSecondarySelectedControlColor</key>
		<string>#DBDBDBFF</string>
		<key>alternateSelectedControlTextColor</key>
		<string>#FFFFFFFF</string>
		<key>alternateSelectionBlueColor</key>
		<string>#0069D9FF</string>
		<key>alternateSelectionGraphiteColor</key>
		<string>#6F6F73FF</string>
		<key>blueControlTintColor</key>
		<string>#9BC1E8FF</string>
		<key>clearControlTintColor</key>
		<string>#D1D1D1FF</string>
		<key>containerBorderColor</key>
		<string>#0000003F</string>
		<key>controlAccentBlueColor</key>
		<string>#007AFFFF</string>
		<key>controlAccentEnclosure10Color</key>
		<string>#2E676BFF</string>
		<key>controlAccentEnclosure11Color</key>
		<string>#3D637DFF</string>
		<key>controlAccentEnclosure12Color</key>
		<string>#CC3338FF</string>
		<key>controlAccentEnclosure13Color</key>
		<string>#484D7CFF</string>
		<key>controlAccentEnclosure14Color</key>
		<string>#BD542DFF</string>
		<key>controlAccentEnclosure3Color</key>
		<string>#E3A024FF</string>
		<key>controlAccentEnclosure4Color</key>
		<string>#2E676BFF</string>
		<key>controlAccentEnclosure5Color</key>
		<string>#3D637DFF</string>
		<key>controlAccentEnclosure6Color</key>
		<string>#CC3338FF</string>
		<key>controlAccentEnclosure7Color</key>
		<string>#484D7CFF</string>
		<key>controlAccentEnclosure8Color</key>
		<string>#BD542DFF</string>
		<key>controlAccentEnclosure9Color</key>
		<string>#E3A024FF</string>
		<key>controlAccentGoldColor</key>
		<string>#CCA37AFF</string>
		<key>controlAccentGreenColor</key>
		<string>#62BA46FF</string>
		<key>controlAccentNoColor</key>
		<string>#989898FF</string>
		<key>controlAccentOrangeColor</key>
		<string>#F7821BFF</string>
		<key>controlAccentPinkColor</key>
		<string>#F74F9EFF</string>
		<key>controlAccentPurpleColor</key>
		<string>#953D96FF</string>
		<key>controlAccentRedColor</key>
		<string>#E0383EFF</string>
		<key>controlAccentRoseGoldColor</key>
		<string>#CC958FFF</string>
		<key>controlAccentSilverColor</key>
		<string>#FFFFFFFF</string>
		<key>controlAccentSpaceGrayColor</key>
		<string>#8A8E96FF</string>
		<key>controlAccentYellowColor</key>
		<string>#FFC726FF</string>
		<key>controlAlternatingRowColor</key>
		<string>#F4F5F5FF</string>
		<key>controlBackgroundColor</key>
		<string>#FFFFFFFF</string>
		<key>controlColor</key>
		<string>#FFFFFFFF</string>
		<key>controlDarkShadowColor</key>
		<string>#000000FF</string>
		<key>controlHighlightColor</key>
		<string>#FFFFFFFF</string>
		<key>controlLightHighlightColor</key>
		<string>#FFFFFFFF</string>
		<key>controlShadowColor</key>
		<string>#00000044</string>
		<key>controlTextColor</key>
		<string>#000000D8</string>
		<key>desktopEndColor</key>
		<string>#2D2D32FF</string>
		<key>desktopStartColor</key>
		<string>#50535BFF</string>
		<key>disabledControlTextColor</key>
		<string>#0000003F</string>
		<key>graphiteControlTintColor</key>
		<string>#BAC1CCFF</string>
		<key>graphiteSelectedTextBackgroundColor</key>
		<string>#E0E0E0FF</string>
		<key>gridColor</key>
		<string>#E6E6E6FF</string>
		<key>groupBoxFillColor</key>
		<string>#00000008</string>
		<key>groupBoxFormFillColor</key>
		<string>#00000004</string>
		<key>headerColor</key>
		<string>#AAAAAAFF</string>
		<key>headerTextColor</key>
		<string>#000000D8</string>
		<key>highlightColor</key>
		<string>#FFFFFFFF</string>
		<key>keyboardFocusIndicatorColor</key>
		<string>#3B99FCFF</string>
		<key>knobColorColor</key>
		<string>#9999BAFF</string>
		<key>labelColor</key>
		<string>#000000D8</string>
		<key>linkColor</key>
		<string>#0068DAFF</string>
		<key>placeholderTextColor</key>
		<string>#0000003F</string>
		<key>primarySystemFillColor</key>
		<string>#00000019</string>
		<key>privateControlAccentBlueColor</key>
		<string>#405F80FF</string>
		<key>privateControlAccentEnclosure10Color</key>
		<string>#415942FF</string>
		<key>privateControlAccentEnclosure11Color</key>
		<string>#525F6BFF</string>
		<key>privateControlAccentEnclosure12Color</key>
		<string>#806068FF</string>
		<key>privateControlAccentEnclosure13Color</key>
		<string>#8D8D99FF</string>
		<key>privateControlAccentEnclosure14Color</key>
		<string>#856055FF</string>
		<key>privateControlAccentEnclosure3Color</key>
		<string>#75614CFF</string>
		<key>privateControlAccentEnclosure4Color</key>
		<string>#203131FF</string>
		<key>privateControlAccentEnclosure5Color</key>
		<string>#233138FF</string>
		<key>privateControlAccentEnclosure6Color</key>
		<string>#5C3C41FF</string>
		<key>privateControlAccentEnclosure7Color</key>
		<string>#4A4C58FF</string>
		<key>privateControlAccentEnclosure8Color</key>
		<string>#78564DFF</string>
		<key>privateControlAccentEnclosure9Color</key>
		<string>#806F50FF</string>
		<key>privateControlAccentGreenColor</key>
		<string>#4E6742FF</string>
		<key>privateControlAccentOrangeColor</key>
		<string>#754D35FF</string>
		<key>privateControlAccentPinkColor</key>
		<string>#9C748AFF</string>
		<key>privateControlAccentPurpleColor</key>
		<string>#523256FF</string>
		<key>privateControlAccentRedColor</key>
		<string>#845359FF</string>
		<key>privateControlAccentYellowColor</key>
		<string>#756037FF</string>
		<key>progressIndicatorColor</key>
		<string>#0000BFFF</string>
		<key>quaternaryLabelColor</key>
		<string>#00000019</string>
		<key>quaternarySystemFillColor</key>
		<string>#00000007</string>
		<key>quinaryLabelColor</key>
		<string>#0000000C</string>
		<key>quinarySystemFillColor</key>
		<string>#00000002</string>
		<key>scrollBarColor</key>
		<string>#AAAAAAFF</string>
		<key>secondaryControlTextColor</key>
		<string>#0000007A</string>
		<key>secondaryLabelColor</key>
		<string>#0000007F</string>
		<key>secondarySelectedControlColor</key>
		<string>#DCDCDCFF</string>
		<key>secondarySystemFillColor</key>
		<string>#00000014</string>
		<key>selectedControlTextColor</key>
		<string>#000000D8</string>
		<key>selectedHeaderTextColor</key>
		<string>#000000D8</string>
		<key>selectedKnobColorColor</key>
		<string>#666699FF</string>
		<key>selectedMenuItemColor</key>
		<string>#4277F4FF</string>
		<key>selectedMenuItemTextColor</key>
		<string>#FFFFFFFF</string>
		<key>shadowColor</key>
		<string>#000000FF</string>
		<key>springLoadedOverlayColor</key>
		<string>#00000028</string>
		<key>systemBlueColor</key>
		<string>#007AFFFF</string>
		<key>systemBrownColor</key>
		<string>#A2845EFF</string>
		<key>systemCyanColor</key>
		<string>#55BEF0FF</string>
		<key>systemFillColor</key>
		<string>#00000019</string>
		<key>systemGrayColor</key>
		<string>#8E8E93FF</string>
		<key>systemGreenColor</key>
		<string>#28CD41FF</string>
		<key>systemIndigoColor</key>
		<string>#5856D6FF</string>
		<key>systemMintColor</key>
		<string>#00C7BEFF</string>
		<key>systemOrangeColor</key>
		<string>#FF9500FF</string>
		<key>systemPinkColor</key>
		<string>#FF2D55FF</string>
		<key>systemPurpleColor</key>
		<string>#AF52DEFF</string>
		<key>systemRedColor</key>
		<string>#FF3B30FF</string>
		<key>systemTealColor</key>
		<string>#59ADC4FF</string>
		<key>systemYellowColor</key>
		<string>#FFCC00FF</string>
		<key>tertiaryLabelColor</key>
		<string>#00000042</string>
		<key>tertiarySystemFillColor</key>
		<string>#0000000C</string>
		<key>textBackgroundColor</key>
		<string>#FFFFFFFF</string>
		<key>textColor</key>
		<string>#000000FF</string>
		<key>textCorrectionIndicatorColor</key>
		<string>#007AFFBF</string>
		<key>textGrammarIndicatorColor</key>
		<string>#19AF32BF</string>
		<key>textSpellingIndicatorColor</key>
		<string>#FF3B30BF</string>
		<key>thinSplitViewDividerColor</key>
		<string>#00000019</string>
		<key>toolTipColor</key>
		<string>#FFFFFFEF</string>
		<key>toolTipTextColor</key>
		<string>#000000D8</string>
		<key>toolbarBackgroundColor</key>
		<string>#E7E7E7FF</string>
		<key>underPageBackgroundColor</key>
		<string>#969696E5</string>
		<key>windowBackgroundColor</key>
		<string>#ECECECFF</string>
		<key>windowFrameColor</key>
		<string>#AAAAAAFF</string>
		<key>windowFrameTextColor</key>
		<string>#000000D8</string>
	</dict>
</dict>
</plist>
