<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TrafficOffset</key>
	<integer>11</integer>
	<key>MicaGlass</key>
	<dict>
		<key>micasidebarcaar</key>
		<false/>
		<key>micatitlebarcaml</key>
		<false/>
		<key>menubar</key>
		<false/>
	</dict>
	<key>DoWindowBlur</key>
	<false/>
	<key>TrafficLightSpacing</key>
	<integer>5</integer>
	<key>NormalTitlebarHeight</key>
	<integer>28</integer>
	<key>TitlebarAboveSidebarList</key>
	<array>
		<string>Sketch</string>
		<string>Finder</string>
		<string>Console</string>
		<string>System Settings</string>
	</array>
	<key>WindowShadowRadiusInactive</key>
	<real>20</real>
	<key>WindowShadowRadiusActive</key>
	<integer>20</integer>
	<key>WindowShadowYOffset</key>
	<integer>20</integer>
	<key>ButtonSize</key>
	<integer>16</integer>
	<key>SystemCornerMaskSliceInset</key>
	<integer>30</integer>
	<key>WindowHideRim</key>
	<true/>
	<key>PatchNSAppearance</key>
	<true/>
</dict>
</plist>
